*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background: #0d7b9d;
   text-align: center;
}


main{
    width: 100%;
    height: 96vh;
    background: #0d7b9d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#search{
    font-size: 25px;
    padding: 10px;
    border-radius: 25px;
    border:none;
    outline: none;
}
.details{
   margin-top: 50px;

 
}
